Run millegrilles_postmaster

run --package millegrilles_postmaster --bin millegrilles_postmaster

CAFILE=/var/opt/millegrilles/configuration/pki.millegrille.cert
CERTFILE=/var/opt/millegrilles/secrets/pki.postmaster.cert
KEYFILE=/var/opt/millegrilles/secrets/pki.postmaster.cle
MG_FICHIERS_URL1=https://mg-dev1.maple.maceroc.com:444
MG_MONGO_HOST=localhost
MG_MQ_HOST=localhost
MG_NOEUD_ID=DUMMY-DEV1
MG_REDIS_PASSWORD_FILE=/var/opt/millegrilles/secrets/passwd.redis.txt
MG_REDIS_URL=rediss://client_rust@localhost:6379#insecure
RUST_LOG=warn,millegrilles_messagerie=info,millegrilles_postmaster=debug
TOR_PROXY=
TOR_PROXY1=socks5h://mg-dev1.maple.maceroc.com:9050
